$background-color: hsl(30, 38%, 92%);
$text-color: hsl(212, 21%, 14%);
$secondaryColor: hsl(228, 12%, 48%);
$greenColor: hsl(158, 36%, 37%);
$font-family: "Montserrat", sans-serif;

$mobile: 1440px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  position: relative;
  padding: 0 2px;
  font-size: 14px;
  font-family: $font-family;
  /*width: 1440px;*/
  scroll-behavior: smooth;
  background-color: $background-color;
}

main {
  padding: 0;
  width: 100%;
}

.box {
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  width: 40%;
  /*min-width: $mobile;*/
  /* max-width: 500px;*/

  margin: 200px auto;
  /*border: 2px solid;*/

  border-radius: 15px;
  /*overflow: hidden;*/
  /*height: 50%;*/
  background-color: white;
  @include mobile {
    flex-direction: column;
    height: 50%;
  }
}
.left-box {
  width: 50%;
  /*height: 100%;*/
  /*border: 2px solid;*/
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }

  @include mobile {
    width: 100%;
  }
}
.right-box {
  width: 50%;
  height: 100%;
  padding: 20px;

  h1 {
    font-family: "Fraunces", serif;
    /*font-weight: 700;*/
  }
  p {
    color: $secondaryColor;
  }

  @include mobile {
    width: 100%;
  }
}
.prices {
  display: flex;
  justify-content: space-evenly;

  #discount {
    text-decoration: line-through;
  }

  #main-price {
    font-size: 2.5em;
    color: $greenColor;
    font-family: "Fraunces", serif;
    font-weight: 900;
  }
}

button {
  font-family: $font-family;
  color: white;
  background-color: $greenColor;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 0 auto;
  border: none;
}
